<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
    <title>Disable Content Sample</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="dist/min/css/bootstrap.min.css" rel="stylesheet" />
    <link href="dist/min/css/piemix.min.css" rel="stylesheet" />
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/underscore-min.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script src="dist/min/js/utility.axKey.min.js"></script>
    <script src="dist/js/app.js"></script>
    <style>
        .smaplediv {
            width:40vw;
            height:60vh;
            margin: 0 auto;
            margin-right:5vw;
            display:inline-block;
            border: 2px solid #0073c6;
        }
            .smaplediv:focus {
                outline: 2px solid #000;
            }

    </style>
</head>
<body ng-controller="sampleCtrl as sample" style="background:#f0f0f0;">
    <button class="btn btn-primary" ng-click="sample.disabled = !sample.disabled">Disable AxKey</button>
    <button class="btn btn-primary" ng-click="sample.disabled2 = !sample.disabled2">Disable AxKey 2</button>
    <h2>Event Type : {{sample.eventType}}</h2>
    <div class="smaplediv" ax-key="sample.axKeyCallback($event)" ax-disabled="sample.disabled" ></div>
    <div class="smaplediv" ax-key="sample.axKeyCallback2($event)" ng-disabled="sample.disabled2" ></div>
</body>
</html>